<div class="kitten-details">
    <% if flash[:notice] %>
        <div class="notice-positive"> <%= flash[:notice] %> </div>
    <% end %>
    <p class="kitten-name"> <%= @kitten.name %> </p>
    <div class="kitten-data-container">
        <div class="kitten-data kitten-age">
            <div class="kitten-field">Age</div>
            <div class="kitten-value"> <%= @kitten.age %> </div>
        </div>
        <div class="kitten-data kitten-cute">
            <div class="kitten-field">Cuteness</div>
            <div class="kitten-value"> <%= @kitten.cuteness %> </div>
        </div>
        <div class="kitten-data kitten-soft">
            <div class="kitten-field">Softness</div>
            <div class="kitten-value"> <%= @kitten.softness %> </div>
        </div>
    </div>
    <div class="actions">
        <%= link_to 'Edit Kitten', edit_kitten_path(@kitten), method: :patch %>
        <%= link_to 'Delete Kitten', @kitten, data: { turbo_method: :delete } %>
    </div>
</div>